@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BeestjeOpJeFeestje.Models.Users.UsersOverviewViewModel
@{
    ViewData["Title"] = "Customers";
}

<div class="page-header">
    <div class="container h-100 d-flex align-items-center justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item mb-0">
                    <a asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item mb-0 active" aria-current="page">Customer</li>
            </ol>
        </nav>
        <div>
            @Html.ActionLink("Create customer", "Create", "User", new { }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<div class="border-top"></div>

<div class="container my-4">
    <div class="d-flex justify-content-between pb-3">
        <h1 class="fs-3 fw-bold">Customers overview</h1>
    </div>

    <table class="table table-bordered bg-white">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Rank</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var customer in Model.customers)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
                <td>@customer.Rank</td>
                <td class="text-end">
                    @Html.ActionLink("Details", "Details", "User", new { id = customer.Id })
                    @Html.ActionLink("Update", "Edit", "User", new { id = customer.Id })
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>