@using BeestjeOpJeFeestje.Repository.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BeestjeOpJeFeestje.Areas.Admin.Models.SingleUserViewModel
@{
    ViewData["Title"] = "Create customer";
}

<div class="page-header">
    <div class="container h-100 d-flex align-items-center justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item mb-0">
                    <a asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item mb-0">
                    <a asp-action="Index">Customers</a>
                </li>
                <li class="breadcrumb-item mb-0 active" aria-current="page">Add</li>
            </ol>
        </nav>
    </div>
</div>

<div class="border-top"></div>

<div class="container bg-light rounded-3 p-3">
    <div class="bg-white border rounded-3 p-4 pt-5">

        <h1 class="fs-3 fw-bold text-center">Create customer</h1>
        <p class="pb-4 text-center">Please fill in the details below</p>

        @if (Model != null && !string.IsNullOrEmpty(Model.Result))
        {
            <div class="alert @(Model.Check ? "alert-success" : "alert-danger")">
                <strong>@(Model.Check ? "Password:" : "Error:")</strong> @Model.Result
            </div>
        }

        <form asp-action="Create" method="post" class="mx-auto" style="max-width: 30rem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <div class="my-2">
                    <label asp-for="@Model.Name">Name *</label>
                    <input asp-for="@Model.Name" class="form-control" placeholder="Name"/>
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="my-2">
                    <label asp-for="@Model.Email">Email *</label>
                    <input asp-for="@Model.Email" class="form-control" placeholder="Email"/>
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="my-2">
                    <label asp-for="@Model.ZipCode">ZipCode *</label>
                    <input asp-for="@Model.ZipCode" class="form-control" placeholder="ZipCode"/>
                    <span asp-validation-for="@Model.ZipCode" class="text-danger"></span>
                </div>
                <div class="my-2">
                    <label asp-for="@Model.HouseNumber">HouseNumber *</label>
                    <input asp-for="@Model.HouseNumber" class="form-control" placeholder="HouseNumber"/>
                    <span asp-validation-for="@Model.HouseNumber" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="@Model.PhoneNumber">PhoneNumber *</label>
                    <input asp-for="@Model.PhoneNumber" class="form-control" placeholder="PhoneNumber"/>
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>

                <div class="my-2">
                    <label asp-for="@Model.Rank">Rank *</label>
                    <select asp-for="@Model.Rank" class="form-control" asp-items="Html.GetEnumSelectList<Rank>()"></select>
                    <span asp-validation-for="@Model.Rank" class="text-danger"></span>
                </div>
            </div>

            <div class="d-flex justify-content-between pt-2">
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                <button class="btn btn-primary ms-1" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>