@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BeestjeOpJeFeestje.Areas.Customer.Models.OrdersOverviewViewModel
@{
    ViewData["Title"] = "Products";
}

<div class="page-header">
    <div class="container h-100 d-flex align-items-center justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item mb-0">
                    <a asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item mb-0 active" aria-current="page">Orders</li>
            </ol>
        </nav>
        <div>
            @Html.ActionLink("Create order", "Index", "OrderWizard", new { }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<div class="border-top"></div>

<div class="container my-4">
    <div class="d-flex justify-content-between pb-3">
        <h1 class="fs-3 fw-bold">Order overview</h1>
    </div>

    <table class="table table-bordered bg-white">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Order for</th>
            <th scope="col">Total price</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var order in Model.Orders)
        {
            <tr>
                <td>@order.Name</td>
                <td>@order.Email</td>
                <td>@order.OrderFor</td>
                <td>@order.TotalPrice</td>
                <td class="text-end">
                    <a asp-action="Details" asp-route-id="@order.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Edit" asp-route-id="@order.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@order.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>