@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BeestjeOpJeFeestje.Areas.Admin.Models.OrdersOverviewViewModel
@{
    ViewData["Title"] = "Products";
}

<div class="page-header">
    <div class="container h-100 d-flex align-items-center justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item mb-0">
                    <a asp-action="Index">Home</a>
                </li>
                <li class="breadcrumb-item mb-0 active" aria-current="page">Order</li>
            </ol>
        </nav>
    </div>
</div>

<div class="border-top"></div>

<div class="container my-4">
    <div class="d-flex justify-content-between pb-3">
        <h1 class="fs-3 fw-bold">Products overview</h1>
    </div>

    <table class="table table-bordered bg-white">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">order for</th>
            <th scope="col">email</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var order in Model.Orders)
        {
            <tr>
                <td>@order.Name</td>
                <td>@order.OrderFor</td>
                <td>@order.Email</td>
                <td class="text-end">
                    @Html.ActionLink("Details", "Details", "Order", new { id = order.Id })
                    @Html.ActionLink("Update", "Edit", "Order", new { id = order.Id })
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>