@model BeestjeOpJeFeestje.Areas.Customer.Models.OrderViewModel
@{
    ViewData["Title"] = "Products";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="step-bar">
                <li class="step">Beestjes</li>
                <li class="step">Accessoires</li>
                <li class="step">Gegevens</li>
                <li class="step">Bevestig</li>
            </ul>
        </div>
    </div>

    <div class="row mx-auto">
        <form asp-action="ConfirmationPost" method="post" class="mx-auto" style="max-width: 30rem">
        <h2>Confirmation</h2>
        <p>Order for @Model.OrderFor</p>
        <h4>Contact information</h4>
        <p>Name: @Model.Name</p>
        <p>Email: @Model.Email</p>
        <p>Zip code: @Model.ZipCode</p>
        <p>House number: @Model.HouseNumber</p>
        <p>Phone number: @Model.PhoneNumber</p>
        <h4>Products</h4>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model.ProductsOverViewModel.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                </tr>
            }
            <tr class="fw-bold">
                <td>Total</td>
                <td> @Model.TotalPrice </td>
            </tr>
            </tbody>
        </table>
            <input type="hidden" asp-for="Name"/>
            <input type="hidden" asp-for="Email"/>
            <input type="hidden" asp-for="ZipCode"/>
            <input type="hidden" asp-for="HouseNumber"/>
            <input type="hidden" asp-for="PhoneNumber"/>
            <input type="hidden" asp-for="TotalPrice"/>
            <input type="submit" class="btn btn-primary" value="Confirm"/>
        </form>
    </div>
</div>